.carrossel__titulo {
    color: rgb(107, 170, 247);
    background-color: rgb(153, 11, 181);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
 }

 .swiper-button-prev,
.swiper-button-next {
   display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
 }

 .card__descriçao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
 }

 .card__botoes {
    display: flex;
    justify-content: space-between;
 }

 .botoes {
    display: flex;
 }

 .card {
    background: #cc32ebd7;
    box-shadow: 0px 4px 4px rgb(153, 11, 181);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
 }

 .descriçao__titulo {
    color: rgb(0, 0, 0);
    font-weight: 700;
 }

 .descriçao__titulo-livro {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    margin: 0.5em 0;
 }

 .descriçao__texto {
    font-size: 14px;
 }

 .botoes__item {
    margin: 0 0.5em;
 }
 
 .botoes__ancora {
 background-color: rgb(7, 154, 211);
 padding: 1em 2.2em;
 color: black;
 font-weight: 700;
 text-decoration: none;
 }

 @media screen and (min-width: 1024px) {
   .carrossel__titulo {
      font-size: 26px;
   }

   .swiper-pagination {
      margin: 2em 0 3em 0;
   }

   .swiper {
      width: 60%;
   }

   .swiper-button-prev,
.swiper-button-next {
   display: block;
   top: 60%;
}

.card {
   width: 50%;
   margin: 2em auto;
}
 }

 @media screen and (min-width: 1728px) {
   .carrossel__container {
      display: flex;
      margin: 0 20vw 3em 20vw;
      align-items: center;
   }

   .swiper-pagination {
      margin: 1em 0;
   }

   .swiper {
      width: 66%;
   }

   .descriçao__titulo {
      font-size: 30px;
   }

   .descriçao__texto {
      font-size: 16px;
   }

   .descriçao {
      margin-right: 2em;
   }
   
   .card {
      width: 60%;
      margin-left: 3em;
   }
 }